:root {
    --color-primary: #ab79d6;  /* Purple */
    --color-secondary: #d367c1; /* Pink */
    --color-background: #27272c; /* Dark Gray */
    --color-on-background: #c5c5ce; /* Light Gray */
    --color-accent1: #dedf40; /* Yellow */
    --color-accent2: #62cb5c; /* Green */
    --color-accent3: #00bbcb; /* Turquoise */
    --color-accent4: #f06292; /* Another Pink */
    --color-accent5: #ff9800; /* Orange */
    --color-accent6: #795548; /* Brown */
    --color-gradient: linear-gradient(to right, var(--color-primary), var(--color-accent1), var(--color-accent2), var(--color-accent3), var(--color-secondary));
    --highlight-gradient: linear-gradient(to right, var(--color-secondary), var(--color-accent3));
    --brand-font: 'Kanit', serif;
    --brand-font-alt: 'Baloo 2', sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: var(--brand-font-alt);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hero {
    text-align: center;
    padding: 20px;
    background: var(--color-gradient);
    color: var(--color-on-background);
    font-family: var(--brand-font);
    font-weight: 800;
}

.highlight-title {
    background: var(--highlight-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;    
}

.byline {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: var(--color-accent4); /* Use a different accent color */
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
}

.promo {
    text-align: center;
    background-color: var(--color-accent5); /* Use an accent color */
    padding: 20px;
    margin: 20px 0; 
    border: 3px solid transparent;
    border-image: var(--color-gradient) 1;
}

footer {
    background-color: var(--color-accent6); /* Use an accent color */
    color: var(--color-on-background);
    padding: 10px;
    text-align: center;
    margin-top: auto; 
}
